.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: blue;
}

button {
  background-color: white;
  color: black;
  border: 1px solid rgb(24, 0, 241);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(16, 211, 16);
  color: hsl(0, 0%, 0%);
}

div {
  margin: 20px;
  padding: 20px;
  border: 1px solid #f33b3b;
  border-radius: 10px;
  background-color: #83caf3;
  text-align: center;
}